name: mix

on:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-20.04

    env:
      MIX_ENV: test

    services:
      mailhog:
        image: mailhog/mailhog:latest
        ports:
          - 1025:1025
          - 8025:8025
        env:
          options: >-
            --health-cmd nc -zw3 localhost 1025
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    strategy:
      matrix:
        elixir: ["1.15", "1.14", "1.13"]
        otp: ["25", "24", "23"]
        exclude:
          - elixir: "1.15"
            otp: "23"
        include:
          - elixir: "1.14"
            otp: "26"
          - elixir: "1.15"
            otp: "26"
          - elixir: "1.16"
            otp: "25"
          - elixir: "1.16"
            otp: "26"

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: test-otp-${{ matrix.otp }}-elixir-${{ matrix.elixir }}-ref-${{ github.head_ref || github.ref }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-otp-${{ matrix.otp }}-elixir-${{ matrix.elixir }}-ref-${{ github.head_ref || github.ref }}-mix-
            test-otp-${{ matrix.otp }}-elixir-${{ matrix.elixir }}-ref-refs/heads/master-mix-

      - run: mix deps.get --only $MIX_ENV
      - run: mix compile --warnings-as-errors
      - run: mix test

  format:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v4 
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.16"
          otp-version: "26"
      - run: mix format --check-formatted
